.layout {
  width: 100%;
  
  font-size: 16px;
  
  margin-bottom: 1px;
}

.layout input, textarea,
:global(html, .react-select__control) {
  width: 100%;
  box-sizing: border-box;
  
  font-size: 12px;
  
  outline: none;
  margin: 2px auto 0;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 13px 16px;
}

:global(html, .react-select__control):hover {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .2);
}

:global(html, .react-select__control--is-focused) {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2);
}

.layoutOnError input,
.layoutOnError :global(.react-select__control) {
  border-color: #ff275b;
}

.layoutOnError :global(.react-select__control):hover {
  border-color: #ff275b;
}

.layout input::placeholder,
:global(.react-select__placeholder) {
  font-size: 12px;
  font-weight: 200;
  
  margin: 0;
}

.requiredLabel {
  color: #ff275b;
  vertical-align: super;
}

.errorMessage {
  height: fit-content;
  min-height: 18px;
  
  display: block;
  
  font-family: 'Montserrat', Tahoma, sans-serif;
  color: #ff275b;
  font-size: 12px;
  font-weight: 200;
  
  margin: 0;
}

@media (min-width: 768px) {
  .layout {
    font-size: 22px;
  }
  
  .layout input, textarea,
  :global(html, .react-select__control) {
    font-size: 16px;
    
    margin: 2px auto;
    padding: 18px 28px;
  }
  
  .layout input::placeholder,
  :global(.react-select__placeholder) {
    font-size: 16px;
  }
  
  .errorMessage {
    font-size: 16px;
    
    margin-top: 3px;
  }
}