.layout {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.formContainer {
  width: 100%;
  max-width: 745px;
  max-height: 944px;
  box-sizing: border-box;

  background-color: #fff;

  margin: 0 40px;
  border-radius: 20px;
  padding: 31px 45px 33px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;

  margin: 0 0 27px;
}

.formTabs {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  row-gap: 39px;

  padding: 0;
}

.formTabTitle {
  font-size: 28px;
  font-weight: 700;
  
  margin: 0 0 18px;
}

.aboutContainer {
  display: grid;
}

.fullNameBg {
  background-color: rgba(217, 217, 217, 0.15);
}

.twoInputsContainer {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
}
