.layout {
  width: 100%;

  display: flex;
  align-items: center;
}

.title {
  font-size: clamp(24px, 5vw, 34px);
  font-weight: 700;
  text-align: center;

  margin: 0 0 17px;
}

.formContainer {
  width: 100%;
  max-width: 745px;
  box-sizing: border-box;

  background-color: #fff;

  margin: 14px auto 0;
  border-radius: 20px 20px 0 0;
  padding: 16px 18px;
}

.formTabs {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 43px;

  padding: 0;
}

.formTabTitle {
  font-size: clamp(16px, 3vw, 26px);
  font-weight: 700;

  margin: 0 0 14px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.fullNameBg {
  background-color: rgba(217, 217, 217, 0.15);
}

.jobFieldSize {
  min-height: 114px;
}

.twoInputsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 32px;
  }

  .formContainer {
    margin: 40px;

    border-radius: 20px;
    padding: 31px 45px 33px;
  }

  .formTabs {
    row-gap: 39px;
  }

  .formTabTitle {
    margin-bottom: 16px;
  }

  .twoInputsContainer {
    width: 100%;

    flex-direction: row;
    column-gap: 14px;
  }
}
